body {
	font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
	height: 5rem;
	width: 100%;
}

h1 {
	margin: 0;
}

p {
	margin: 0 0 0.3rem 0;
	color: #f87171;
	flex-basis: 100%;
}

input {
	margin: 0 0 0 0.4rem;
	border: 2px solid #000;
	border-radius: 0.4rem;
	padding: 0.3rem;
	flex: 1;
}

form {
	display: flex;
	flex-direction: column;
}

fieldset {
	border: none;
	padding: 1rem 0;
	display: flex;
	justify-content: space-around;
}

button {
	display: block;
	background: #d1d5db;
	border: none;
	border-radius: 0.3rem;
	margin-top: 0.5rem;
	padding: 0.2rem;
	font-size: 1rem;
	width: 100%;
}

form {
	display: block;
	width: 25%;
}
