name: Docs

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  docs:
    name: Publish docs / OS ${{ matrix.os }} / Node ${{ matrix.node }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: ['16']

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.2.3
        with:
          version: 7.13.4

      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - run: |
          pnpm install --frozen-lockfile
          pnpm run docs

      - name: Publish
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs
          force_orphan: true
          commit_message: 'docs: update'
